body {
  background-color: #FFDB9F;
}

h1 {
  color: grey;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

div {
  border: 5px dashed #9E693D;
  background-color: #FFD083;
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 10px;
}

p {
  font-size: 24px;
}

p::first-letter {
  font-size: 60px;
  color: #9E693D;
}

h2 {
  color: #E4E3E1;
  background-color: #9E693D;
  padding: 5px 10px;
  width: 200px;
  margin-left: 15%;
  font-size: 30px;
  margin-top: -30px;
}
