*{
  box-sizing: border-box;
}

body {
  max-width: 960px;
  position: relative;
  margin:0 25%;
}

h1 {
  text-align: center;
}

#libros {
  padding-inline-start: 0;
}

#izquierda {
  float: left;
  width: 260px;
}

#derecha {
  float: left;
  width: 700px;
}

.contenido {
  float: left;
  width: 33%;
  list-style: none;
}
