* {
  box-sizing: border-box;
}

body {
  background-color: #00FF87;
}

#contenedor {
  border: 4px solid black;
  width: 1000px;
  height: 800px;
  margin-left: 500px;
  background-color: #B5BDB9;
}

#cabecera {
  height: 200px;
  border: 4px solid black;
}

#menu {
  border: 4px solid black;
  height: 50px;
}

#principal {
  border-bottom: 4px solid black;
  height: 450px;
  background-color: black;

}

#col_izquierda {
  border: 4px solid black;
  width: 25%;
  height: 300px;
  float: left;
  background-color: yellow;
}

#col_centro {
  border: 4px solid black;
  float: left;
  width: 50%;
  height: 350px;
  background-color: #00FF87;
}

#col_derecha {
  border: 4px solid black;
  width: 25%;
  height: 450px;
  float: left;
  background-color: blue;
}

#pie {
  border: 4px solid black;
  height: 95px;
}
